@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Raleway:wght@700&display=swap');

* {
    box-sizing: border-box;
}
body,html{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
}
ul{
list-style-type: none;
}
a{
text-decoration: none;
text-transform: capitalize;
}
.navigation ::content{
    display: flex;
    justify-content:center;
    margin: 0 12px;
    align-items: center;
}
.cart img{
    height:30px;
}
.menu ul{
    display:flex;
}
.menu ul li a {
    padding: 0 30px;
    justify-content: space-between;
    font-family:'Raleway', sans-serif;
}
#navbarNavAltMarkup{
    justify-content: space-between;

}